*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Montserrat', sans-serif;
    color: #1a1b1f;
    background-color: white;
    font-size: 16px;
    text-decoration: none;
    width: 100%;

}

.header-container {
    width: 90vw;
    margin: 0 auto;
    
    
}

.nav-bar {
    width: 90vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    text-align: center;
    align-items: center;
}

#logo{
    text-decoration: underline;
    font-weight: bolder;
    font-size: 28px;
}

ul {
    width: 12vw;
    display: flex;
    justify-content: space-between ;
    flex-wrap: wrap;
    list-style-type: none;  
}

li {
    list-style-type: none; 
    font-size: 12px;

}

/* First Section */

.introduction {
    width: 60vw;
    margin: 0 auto;
    height: auto;
    display: flex;
    justify-items: flex-start;
    flex-direction: column;
    margin-top: 10vh;

}

#descrição{
    margin-top: 10px;
    font-size: 62px;
    font-weight: lighter;
}

#name {
    font-weight: 34px;
    font-size: 20px;
}

#job{
    font-size: 16px;
    font-weight: 28px;
    opacity: 0.6;
}

/* Projects Section */

.projects {
    width: 100%;
    align-items: center;
    text-align: center;
    height: auto;  
    margin: 0 auto;
    margin-top: 20vh;
    
  
    
}

.grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 60vw 30vw ;
    grid-row-gap: 2vh;
    grid-column-gap: 2vw;
    align-items: center;
    place-items: center;
    justify-content: center;
    
}

.project-container{
    display: grid;
    width: auto;
    margin: 0 auto;
    grid-template-rows: auto 20vh;
    justify-items: center;
    align-items: center;
}

#project-name {
    font-size: 25px;
    font-weight: 34px;
}

#project-type{
    font-size: 18px;
    font-weight: 28px;
    opacity: 0.6;
}

img {
    width: 100%

}