*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Montserrat', sans-serif;
    color: #1a1b1f;
    background-color: #f4f4f4;
    font-size: 16px;
    text-decoration: none;
    width: 100%;

}

.header-container {
    width: 90vw;
    margin: 0 auto;
}

.nav-bar {
    width: 90vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    text-align: center;
    align-items: center;
}

#logo{
    border-bottom: 1px solid black;
    font-weight: bolder;
    font-size: 28px;
}

ul {
    width: auto;
    display: flex;
    gap: 50px;
    justify-content: space-between ;
    flex-wrap: wrap;
    list-style-type: none;  
}

li {
    position: relative;
    list-style-type: none; 
    font-size: 12px;
    text-decoration:none;
    cursor: pointer;
    transition: all 0.5 ease-in;
    opacity: 1;
    font-weight: 28px;
    transition: font-weight 0.1s ease-in;
}
li:hover{
    font-weight: bold;
}

li:after{
    content: "";
    position: absolute;
    background-color: black;
    height: 1px;
    width: 0;
    left: 0;
    bottom: 0;
    transition: 0.4s ease;
}

li:hover:after{
    width: 100%;
   
}

/*burguer*/

.hamburger{
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
}

@media screen and (max-width: 768px){
    .hamburger{
       display: block; 
    } 
    
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        right: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #f4f4f4;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        z-index: 10;
        height: 200px;
    }

    .nav-item{
        margin: 16px 0px;
        font-size: 16px;
    }

    .nav-menu.active {
        right: 0;
    }
}
/* First Section */

.introduction {
    width: 67vw;
    margin: 0 auto;
    height: auto;
    display: flex;
    justify-items: flex-start;
    flex-direction: column;
    margin-top: 10vh;

}

#descrição{
    margin-top: 10px;
    font-size: 62px;
    font-weight: lighter;
}

#name {
    font-weight: 34px;
    font-size: 20px;
}

#job{
    font-size: 16px;
    font-weight: 28px;
    opacity: 0.6;
}

/* Projects Section */

.projects {
    width: 100%;
    align-items: center;
    text-align: center;
    height: auto;  
    margin: 0 auto;
    margin-top: 20vh;
    
  
    
}

.grid {
    display: grid;
    grid-template-rows:  1fr;
    grid-template-columns: 60vw 30vw ;
    grid-row-gap: 2vh;
    grid-column-gap: 2vw;
    align-items: center;
    place-items: center;
    justify-content: center;
    margin-bottom: 5vh;
    
}

.grid-2 {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 30vw 60vw ;
    grid-row-gap: 2vh;
    grid-column-gap: 2vw;
    align-items: center;
    place-items: center;
    justify-content: center;
    margin-bottom: 5vh;
}

.project-container{
    display: grid;
    width: auto;
    margin: 0 auto;
    grid-template-rows: auto 20vh;
    justify-items: center;
    align-items: center;
}

#project-name {
    font-size: 25px;
    font-weight: 34px;
}

#project-type{
    font-size: 18px;
    font-weight: 28px;
    opacity: 0.6;
}

img {
    width: 100%;

}


/* Contact Section */

#form-container{
width: 100%;
height: auto;
margin: 0 auto;
margin-top: 5vh;
display: flex;
flex-direction: column;
justify-content: flex-start;

}

#contact_form {
    width: 67vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 auto;
    
}

#form-1 {
    display: flex;
    flex-direction: row;
    height: 10vh;
    align-items: center;
    column-gap: 5vw;
    margin-top: 5vh;
}

#form-2 {
    display: flex;
    flex-direction: column;
    height: auto;
}   

#form_h3{
    font-size: 30px;
    font-weight: lighter;
}

.text_form{
    font-size: 12px;
    font-weight: 20px;
    
}

#name_container {
    width: 50%;
}

#email_container{
    width: 50%;
}

#name_form{
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 26px;
    width: 100%;
    opacity: 0.6;
    background-color: white;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

#email_form {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 26px;
    width: 100%;
    opacity: 0.6;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.5);
    outline: none;
    
}

#message{
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 26px;
    width: 100%;
    height: 24vh;
    opacity: 0.6;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.5);
    outline: none;
}

#submit{
    padding: 12px 25px;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.5);
    outline: none;
    color: white;
    background-color: black;
    cursor: pointer;
}



/* Footer Section */
footer {
    margin-top: 10vh;
    height: 5vh;
    width: 100%;
}

.footer-container{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    text-align: center;
}

#name_container_footer{
    width: auto;
}

#footer_name{
    font-size: 12px;
    cursor: pointer;
    opacity: 0.8;
    font-weight: 28px;
    transition: opacity 0.3s ease-in;
}

#footer_name:hover{
    opacity: 1;
}

#footer_ul {
    width: auto;
    display: flex;
    height: auto;
    gap: 30px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

#social_icon{
    width: 25px;
    height: auto;
    margin: 0 auto;
    transition: transform 0.3s ease-in;
}

#social_icon:hover{
    transform: scale(1.5)
}