@media  screen and (max-width: 480px){
    #logo{
        font-size: 20px;
    }

    

/* First Section */

    .introduction {
        width: auto;
        justify-items: center;
        flex-direction: column;
        text-align: center;
      
    }
    
    #descrição{
        margin-top: 14px;
        font-size: 32px;
    }

/* Projects Section */

    .grid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 5vh;
        width: 90%;
        margin: 0 auto;
        
    }

    .grid-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 5vh;
        width: 90%;
        margin: 0 auto;
    }


    #project-name {
        font-size: 20px;

    }

    #project-type{
        font-size: 15px;

    }

    img {
        width: 80%;
    };

/* Contact Section */

    #contact_form {
        width: 67vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin: 0 auto;
        
    }
    
    #form-1 {
        display: flex;
        flex-direction: row;
        height: 10vh;
        align-items: center;
        column-gap: 5vw;
        margin-top: 5vh;
    }
    
    #form-2 {
        display: flex;
        flex-direction: column;
        height: auto;
    }   
    
    #form_h3{
        font-size: 30px;
        font-weight: lighter;
    }
    
    .text_form{
        font-size: 12px;
        font-weight: 20px;
        
    }
    
    #name_container {
        width: 50%;
    }
    
    #email_container{
        width: 50%;
    }
    
    #name_form{
        padding: 10px 20px;
        font-size: 14px;
        font-weight: 26px;
        width: 100%;
        opacity: 0.6;
        background-color: white;
        outline: none;
        border: 1px solid rgba(0, 0, 0, 0.5);
    }
    
    #email_form {
        padding: 10px 20px;
        font-size: 14px;
        font-weight: 26px;
        width: 100%;
        opacity: 0.6;
        background-color: white;
        border: 1px solid rgba(0, 0, 0, 0.5);
        outline: none;
        
    }
    
    #message{
        padding: 10px 20px;
        font-size: 14px;
        font-weight: 26px;
        width: 100%;
        height: 24vh;
        opacity: 0.6;
        background-color: white;
        border: 1px solid rgba(0, 0, 0, 0.5);
        outline: none;
    }
    
    #submit{
        padding: 12px 25px;
        align-items: center;
        border: 1px solid rgba(0, 0, 0, 0.5);
        outline: none;
        color: white;
        background-color: black;
        cursor: pointer;
    }
/* Footer Section */

footer {
    margin-top: 5vh;
}




}